{
  "name": "${name_norm}",
  "icon": "divinefavor:blade_talisman_${name}",
  "category": "blade_talismans",
  "pages": [
    {
      "type": "item_description",
      "talisman": "divinefavor:blade_talisman_${name}"
    },
    {
      "type": "blade_talisman_stats",
      "talisman": "divinefavor:blade_talisman_${name}"
    }
  ]
}